@model List<Event>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">TCG Events</h1>
    <div class="container mt-4">
        <div class="row">
            @if(Model.Count != 0)
            {
                @foreach (Event eventItem in Model)
                {
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <div class="card-body text-center">
                                <h5 class="card-title" style="font-size: 1.5rem;">@eventItem.EventTitle</h5>
                                <p class="card-text" style="font-size: 1rem;">Game: @eventItem.Game</p>
                                <p class="card-text" style="font-size: 1rem;">Date: 
                                    @eventItem.EventDate.ToString("MMM dd, yyyy h:mm tt")</p>
                                <p class="card-text" style="font-size: 0.8rem;">Max Participants: @eventItem.MaxParticipants</p>
                            </div>
                        </div>
                    </div>
                }
            } else
            {
                <p class="text-center">There are no events right now.</p>
            }
    </div>
</div>

</div>
